* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #e6f5ff;
    /* space for the fixed header */
    border-left: 3px solid maroon;
    border-right: 3px solid maroon;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #c2e2f6;
    padding: 12px 0 14px 0;
    color: maroon;
    border-bottom: 3px solid maroon;
    border-top: 3px solid maroon;
    width: 100%;
    height: 52px;
    /* Ensure header is above other content */
}

.main-header {
    font-size: 118%;
    display: flex;
    justify-content: space-evenly;
    /* Adjusted for better spacing */
    align-items: center;
}

.return {
    font-size: 95%;
    font-weight: bold;
    color: navy;
}

.return.short {
    display: none;
}

.main-container {
    display: flex;

    /* Full height minus header */
    height: calc(100vh - 52px);

    /* Prevent scrolling inside main container */
    overflow: hidden;
    flex: 1;
}

#randomSelectButton {
    background-color: rgba(128, 0, 0, 0.637);
    color:white;
    margin-top: 6px; margin-bottom: 12px;
    border: 0.15em solid black;
    font-size: 105%;
    padding: 1% 3%;
}

#wordDropdown {
    font-size: 120%;
    color:black;
    width: 99%;
    display: block;
    text-align: left;
    margin-top: 3px;
    border: 0.18em solid navy;
    height: calc(100% - 100px);
}

.sizeOfLabels {
    font-size: 115%;
    display: block;
    margin: 1px auto;
}

.selection-container {
    width: 350px;
    min-width: 350px;
    max-width: 400px;
    text-align: center;
    padding: 0.6em;
    border-right: 3px solid maroon;
    background-color: #a1d3f08c;
    height: 100%;
    /* Allows scrolling within the container if necessary */
}

#examplesContainer {
    flex-grow: 1;
    /* Takes remaining space */
    margin: 0.5em;
    /* Only vertical scroll */
    overflow: auto;
    text-align: center;
}

.selected-word {
    font-size: 135%;
    font-weight: bold;
    margin-bottom: 12px; margin-top: 8px;
    text-align: center;
    /*Alex: font-size: 23px;   margin-bottom: 20px;*/
}

#showExamplesButton {
    border: 3px solid black;  font-weight:bold;
    padding: 3px 8px;
    background:rgba(128, 0, 0, 0.637);
    color:white;
    cursor: pointer;
    font-size: 110%;
}

.example {
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-align: left;
}

@media (max-width: 1600px) {
    .main-container {
        flex-direction: row;
    }
}

@media (max-width: 1200px) {
    header {
        height: auto;
    }
    .selection-container,
    #examplesContainer {
        flex: 1;
    }
}

@media (max-width: 992px) {
    body {
        height: 100vh;
    }

    header {
        .return:last-child {
            display: none;
        }
    }

    .main-container {
        flex-direction: column;
        flex: 1; /* take as much vertical space as necessary */
        /* Remove fixed height */
    }

    .selection-container,
    #examplesContainer {
        /* Full width and reduced height on small screens */
        width: 100%;
        max-width: 100%;
        height: 50%;
        overflow: visible;
    }

    .selection-container {
        border-right: none;
    }

    #examplesContainer {
        overflow: auto;
    }
}


@media (max-width: 768px) {
    header {
        /* default spacing around header elements */
        .return {
            padding: 12px 20px;
        }
        h3 {
            padding: 12px 20px;
        }
    }

    .main-container {
        flex-direction: column;
        min-height: auto;
    }

    .selection-container,
    #examplesContainer {
        width: 100%;
        min-width: 0;
        border: none;
        margin: 0;
        padding: 10px;
    }
}

@media (max-width: 576px) {
    header {
        .return:first-child {
            display: none;
        }
        .return.short {
            display: unset;
        }
    }

    .main-header,
    .return,
    #showExamplesButton,
    #wordDropdown,
    .sizeOfLabels,
    .example {
        font-size: 120%;
    }
    #examplesContainer {
        font-size: 120%;
    }
}

